<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Base experience:</strong>
    <%= pokemon.base_experience %>
  </p>

  <p>
    <strong>Sprite url:</strong>
    <%= pokemon.sprite_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pokemon.user_id %>
  </p>

</div>
